<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!--    <title th:text="'Game in ' + ${roomName}"></title> -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/gconfig.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/game_client.js"></script>

    <script type="text/javascript" src="/wpaint/lib/jquery.1.10.2.min.js"></script>
    <script type="text/javascript" src="/wpaint/lib/jquery.ui.core.1.10.3.min.js"></script>
    <script type="text/javascript" src="/wpaint/lib/jquery.ui.widget.1.10.3.min.js"></script>
    <script type="text/javascript" src="/wpaint/lib/jquery.ui.mouse.1.10.3.min.js"></script>
    <script type="text/javascript" src="/wpaint/lib/jquery.ui.draggable.1.10.3.min.js"></script>
    <script type="text/javascript" src="/wpaint/lib/wColorPicker.min.js"></script>
    <link rel="Stylesheet" type="text/css" href="/wpaint/lib/wColorPicker.min.css" />

    <script type="text/javascript" src="/wpaint/wPaint.min.js"></script>
    <link rel="Stylesheet" type="text/css" href="/wpaint/wPaint.min.css" />

    <script type="text/javascript" src="/wpaint/plugins/main/wPaint.menu.main.min.js"></script>
    <script type="text/javascript" src="/wpaint/plugins/text/wPaint.menu.text.min.js"></script>
    <script type="text/javascript" src="/wpaint/plugins/shapes/wPaint.menu.main.shapes.min.js"></script>
    <script type="text/javascript" src="/wpaint/plugins/file/wPaint.menu.main.file.min.js"></script>
</head>
<body>
<!--
    <script th:inline="javascript">
    let myId = [[${myId}]];
    let roomName = [[${roomName}]];
</script>
-->
<div id="wPaint" style="width: 800px; height: 600px;"></div>
<div id="game">
</div>
</body>
</html>