<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!--    <title th:text="'Game in ' + ${roomName}"></title> -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/gconfig.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/game_client.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/game.css"/>
</head>
<body>

<script th:inline="javascript">
    let myId = [[${myId}]];
    let myName = [[${myName}]];
    let roomName = [[${roomName}]];
</script>

<div id="btn-canvas-wrap">
    <canvas id="main-canvas"></canvas>
    <button id="clear-canvas">Clear</button>
</div>
<div id="chat">
    <div id="chat-window"></div>
    <input id="chat-input" type="text" placeholder="hi hello good night good luck!"/>
    <button id="chat-send">Send</button>
</div>
<p class="correct-answer"></p>
<button id="send-answer">Send Answer!</button>
<div id="users-outter"></div>
</body>
</html>