<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/room_client.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/room.css"/>

    <meta charset="UTF-8"/>
    <title th:text="${roomName}"></title>
</head>
<body>
<script th:inline="javascript">
    let myId = [[${myId}]];
    let myName = [[${myName}]];
    let roomName = [[${roomName}]];
</script>
<div id="room-outter">
    <h1>
        Room : <strong th:text="${roomName}"></strong>
    </h1>
    <div id="room">
        <button id="btn-ready">Ready</button>
        <div id="user"></div>
    </div>
    <div id="chat">
        <div id="chat-window"></div>
        <input id="chat-input" type="text" placeholder="hi hello good night good luck!"/>
        <button id="chat-send">Send</button>
    </div>
</div>
</body>
</html>